<% if current_user %>

<h1>hello, <%=current_user.email%></h1>
<h4>These are your preps:</h4>
<ul>
<%@preps.each do |p|%>
<li><%= link_to p.name, p %></li>
<% end%>
</ul>
<%= link_to "create new prep", new_prep_path %>
<h4>These are your saved preps:</h4>
<ul>
<%@liked_preps.each do |p|%>
<li><%= link_to p.name, p %></li>
<% end%>
</ul>
<%= link_to "Discover more preps", "/discover_preps"%>

<% else %>

<h1>Public Preps:</h1>

<%@preps.each do |p|%>
<li><%= link_to p.name, p %></li>
<% end%>
<h4> <%=link_to "sign in", "/users/sign_in"%> to get started saving or creating your own preps</h4>
<% end %>