<h2><%=@prep.name%></h1>
<% if current_user %>
    <% if !@saved %>
        <%= form_with url: "/saved_preps" do |f| %>
            <%= f.hidden_field "prep", name: "saved_prep_id", value: @prep.id%>
            <%= f.submit "Save Prep" %>
        <% end %>
    <% else %>
        <%= form_with url: "/saved_preps", method: "DELETE" do |f| %>
            <%= f.hidden_field "prep", name: "saved_prep_id", value: @prep.id%>
            <%= f.submit "Unsave Prep" %>
        <% end %>
    <% end %>
<% end %>


<% if @owned %>
    <%= form_with method: "patch" do |f| %>
        <%= f.hidden_field "toggle_public_button", name: "toggle_public", value: 1%>
        <% if @prep.public == 0 %>
            <%= f.submit "Make Public"%>
            <% else %>
            <%= f.submit "Make Private"%>
        <% end %>
    <% end %>
<% else %>
    <h4>By <%=@prep.user.email%></h4>
<% end %>
<h4>recipes in this prep:</h4>
<% @recipes.each do |r| %>
    <h4> <%=link_to r.name, r%>
    <% if @owned %>
        <%= form_with method: "patch" do |f| %>
            
            <%= f.hidden_field "", name: "recipe_name", value: r.name%>
            <%= f.submit "remove this recipe"%>
        <% end%>
    <% end %> </h4>
<% end %>
<% if @owned %>
    add a recipe
    <%= form_with method: "patch" do |f| %>
    <%= select_tag(:recipe_id, options_for_select(@user_recipes_options))%>
    <%= f.submit %>
    <% end %>
<% end %>
<h4>Ingredients needed for this prep:</h4>
<ul>
<% @ingredients.each do |i| %>
<li> <%= Ingredient.find(i.ingredient_id).name %> 
    <%= ", " + i.amount.to_s if i.amount %> 
    <%= i.unit if i.unit %> </li>
<% end %>
</ul>

