<%= form_with model: @recipe do |f| %>
    <h4>Name:</h4>
    <%= f.text_field :name  %>
    <p>Make this public? <%= f.check_box :public %></p>
    <h4>Ingredients:</h4>
    <ul>
    <%= f.fields_for :ingredients_lists, @ingredients_lists do |f2|%>

        <li><%= @ingredients_lists[f2.index].ingredient.name %>     <%= f2.number_field :amount %> <%= f2.text_field :unit %> Delete: <%= f2.check_box :_destroy %></li>
    <%end%>
    </ul>

    <%= f.fields_for :ingredients_list  do |f3| %>
        New Ingredient name:
        <%= f3.text_field :name %>
        Amount:
        <%= f3.number_field :amount %>
        Unit:
        <%= f3.text_field :unit %>
        <%=f3.submit "Add ingredient"%>
    <% end %>
    <h4>Steps:</h4>
    <p><%= f.text_field :body %></p>
    <%= f.submit %>
<% end %>