<% if !@saved%>
    <%= form_with url: "/saved_recipes" do |f| %>
        <%= f.hidden_field "recipe", name: "saved_recipe_id", value: @recipe.id%>
        <%= f.submit "Save Recipe" %>
    <% end %>
<%else%>
    <%= form_with url: "/saved_recipes", method: "delete" do |f| %>
        <%= f.hidden_field "recipe", name: "saved_recipe_id", value: @recipe.id%>
        <%= f.submit "Unsave Recipe" %>
    <% end %>
<% end %>
<h1><%=@recipe.name%></h1>
<% if @recipe.public == 1 %><p> public recipe </p> <% end %>
<h4>
<% if @owned %>
    <%=link_to "edit", edit_recipe_path(@recipe)%>
<% else %>
    By <%=@recipe.user.email%>
<% end %></h4>
<h4>Ingredients:</h4>
<ul>
<%@ingredients_list.each do |i|%>
    <li><%=i.ingredient.name%>, <%= i.amount%> <%= i.unit%> </li>
<%end%>
</ul>
<h4>Steps:</h4>
<p><%=@recipe.body%></p>
