<!DOCTYPE html>
<html>
  <head>
    <title>Mealprepper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= form_with url: '/users/sign_out', method: "DELETE" do |f| %>
      <%= f.submit "Log out" %>
    <% end %>
    <%= link_to "my preps", preps_path %>
    <%= link_to "my recipes", recipes_path %>
    <%= yield %>
  </body>
</html>
